 /*main  headers*/
 .skillSection h1, .projectDisplay h1, .educationDisplay h1 ,
 .experienceDisplay h1{
    text-align:left;
    font-size:1.2rem;
    font-weight:700;
    border-bottom:2px solid black;
    color: $mainColor;
    margin-top:5px;
    
  }
  
    /*sub headers*/
    .skillSection h3, .projectDisplay h3, .uniDegree h3, .companyTitle h3 {
        font-weight:700;
        margin-top:10px;
        font-size:1.1rem;
      }

    .dateEdu{
     
      font-style:italic;
    }
    .locationEdu{
      color:$mainColor
    }