/*bullet points*/
ul{
    list-style:none;
   
    
  }
  ul li:before{
    content: "\2022";
    color:$mainColor;
    font-weight:bolder;
    padding:5px;
  }
  li {
    
    text-align:left;
    line-height:1.3;
  }
 