[user]
	name = Sophlanz
	email = sophialanzendorf@gmail.com
[init]
	defaultBranch = main
[color]
	ui = auto
[http]
	postBuffer = 157286400
	version = HTTP/2
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
