@media print {
    .navCV {
        display: none;
    }
    .paper button {
        display:none;
    }
    body {
        margin: 0;
        padding: 0;
    }

    .paper {
        width: 210mm;
        height: 297mm;
    }
   
 }