@media print {
    .navCV {
        display: none !important;
    }
    .paper button {
        display:none;
    }
    body {
        margin: 0;
        padding: 0;
    }

    .paper{width: 210mm;
        min-height: 297mm;
        padding: 20mm;
        margin: 10mm au
        
    }
 }