.modal {
  display: block; 
  position: fixed; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  };
/* Modal Content/Box */
.modalContent {
  background-color: white;
  margin:10% auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top:10px;
  padding-bottom:10px;
  border: 10px solid $lightBlue;
  width: 50%; 
  min-height:50%;
  color:black;
  max-height:80%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;

  };
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position:absolute;
  top:140px;
  right:280px;
  };
.close:hover,.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  };
.modalContent h1{
  font-size:2rem;
  font-weight:600;
  text-decoration:underline;
  text-decoration-color:$lightBlue;
  margin-bottom:10px;
  };
.modalContent li {
  font-size:1rem;
  display:list-item;
  list-style:revert;
  };
.modalContent li::marker {
  color:$lightBlue;
  font-weight:800;
  font-size:1.2rem;
  };