.rightContainer {
    background-image:url('../../images/cover3.jpg');
    background-size:cover;
    position:absolute;
    right:0;
    top:0;
    width:50vw;
    height:100vh;
}
.leftContainer {
    position:absolute;
    left:0;
    top:0;
    height:100vh;
    width:50vw;
}
.nameUserContainer {
    display:flex;
    gap:10px;
    margin-top:20px;
}
.registerButtons {
    display:flex;
    gap:10px;
}
.registerContent header p {
    color:$accessibleGrey;
    font-weight:700;
}
/*blue 'login'*/
.registerContent header p a {
    color:$lightBlue;
}
/*create new account header*/
.registerContent header h1 {
    font-size:2.4rem;
    font-weight:700;
}
/*blue period 'create new account'*/
.registerContent h1 span {
    color:$lightBlue;
    font-size:4rem;
}
/*already a member?*/
.registerContent header p {
    display:flex;
    gap:5px;
    margin-bottom:-8px;
}
.registerContent {
    position:absolute;
    top:120px;
    left:80px;
}
.registerContent header {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    gap:10px;
    margin-top:40px;
}
.registerEmail, .registerPassword, .loginUsername, .loginPassword {
    width:420px;
}
.registerForm, .loginForm {
    margin-top:40px;
}
.registerForm input, .loginForm input {
    border:none;
    background-color:#f3f6fc;
    height:40px;
    padding-left:10px;
    padding-top:5px;
}
/*translate the labels up into the input box, set to left*/
.registerForm label, .formWrapper label, .loginForm label {
    transform: translate(0.25rem, -2.1rem);
    transition: all 0.2s ease-out;
    display:flex;
    align-items:flex-start;
    margin-left:10px;
    font-style:italic;
}

/*translate the labels further up on focus, to leave room for input*/
input:focus + label,
/*for when we unfocus, we'll check for placeholder*/
input:not(:placeholder-shown) + label  {
    transform: translate(0, -3rem);
    font-size:.9rem;
    
}
.registerForm input:focus , .loginForm input:focus{
    background-color: white;
}

.registerButtons button {
    width:210px;
    height:50px;
    border-radius:2rem;
    font-weight:700;
}
