.rightContainer {
    background-image:url('../../images/cover3.jpg');
    background-size:contain;
    position:absolute;
    right:0;
    top:0;
    width:50vw;
    height:100vh;
}
.leftContainer {
    position:absolute;
    left:0;
    top:0;
    height:100vh;
    width:50vw;
}
.nameUserContainer {
    display:flex;
    gap:10px;
    margin-top:20px;
}
.registerButtons {
    display:flex;
}
.registerContent header p {
    color:$lightGrey;
    font-weight:500;
}
/*blue 'login'*/
.registerContent header p a {
    color:$lightBlue;
}
/*create new account header*/
.registerContent header h1 {
    font-size:2.2rem;
    font-weight:700;
}
/*blue period 'create new account'*/
.registerContent h1 span {
    color:$lightBlue;
    font-size:4rem;
}
/*already a member?*/
.registerContent header p {
    display:flex;
    gap:5px;
}
.registerContent {
    position:absolute;
    top:150px;
    left:80px;
}
.registerContent header {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    gap:10px;
}
.registerEmail, .registerPassword {
    width:420px;
}
.registerForm input {
    border:none;
    background-color:rgb(199, 198, 198);
    height:35px;
 
  
}
/*translate the labels up into the input box, set to left*/
.registerForm label {
    transform: translate(0.25rem, -1.8rem);
    transition: all 0.2s ease-out;
    display:flex;
    align-items:flex-start;
    margin-left:10px;
}
/*translate the labels further up on focus, to leave room for input*/
input:focus + label,
/*for when we unfocus, we'll check for placeholder*/
input:not(:placeholder-shown) + label  {
    transform: translate(0, -2.5rem);
    font-size:.8rem;
    
}
