/*container for grid*/
.gridContainer {
    background-size:25%;
    height:100vh;
    width:100vw;
    /*lines running down the page*/
   /* background-image:
      linear-gradient(to right, lightgrey 1px, transparent 1px), */
}
/*welcome page title*/
.gridContainer h1 {
  position:absolute;
  left:50px;
  top:40px;
  font-weight:800;
  font-size:2rem;
  
}
.ball {
  width:400px;
  height:400px;
  border-radius: 50%;
  border:1px solid black;
  /*center div*/
  position:absolute;
  top:50%;
  left:50%;
  /*offset by half of height and width of circle*/
  margin-top:-200px;
  margin-left:-200px;
  will-change:transform;
  transform-style:preserve-3d ;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:#f7f7f7;
  color:black;
  font-size:3rem;
  font-weight:900;
  text-transform:uppercase;
  font-style:italic;
}
.ball:hover {
  color:#f7f7f7;
  background-color: black;
}
.cursorCircle {
  position:absolute;
  transform:translate(-50%,-50%);
  height:25px;
  width:25px;
  border-radius:50%;
  background-color:black;
  background:#f7f7f7;
  pointer-events:none;
  color:white;
  mix-blend-mode:difference;
  z-index:2;
}
/*on hover of the nav, increase the circle size*/
.navWelcome:hover ~ .cursorCircle {
  height:70px;
  width:70px;
  
}
/* /* /*on hover of each link in nav, change the color to white*/
/*we want the circle behind the nav content, change z-index*/
/*  .navWelcome:hover {
  z-index:2;
}  */

