@media only screen and (max-width: 1000px){
    /*header*/
    .workStationContent > header > h1 {
        width:100%;
        text-align:center;
    }
    /*header that also contains button, center the items*/
    .workStationContent > header {
        align-items:center;
        margin-bottom:50px;
    }
    /*hide the properties, we won't use them*/
    .properties {
        display:none;
    }

}
