/*edit buttons*/
.aboutButton, .skillsEditButton, button.project, button.education, button.experience {
  background-image:url(../../images/edit.svg);
  background-repeat:no-repeat;
  background-position:50% 50%;
  display:none;
  border:none;
  background-color:white;
  /*make button a circle*/  
  border-radius: 50%;
  height:30px;
  width:30px;
  top: 0;
  position:relative;
  transition: top ease 0.5s;
    };
  
.aboutDisplay:hover button, .skillSection:hover button, 
.projectDisplay:hover button,.educationDisplay:hover button, 
.experienceDisplay:hover button {
  display:block
  
    };
/*submit form buttons*/
.submitButton,  button.addSkill, button.addSoftSkill{
  background:transparent;
  background-color:$lightBlue;
  border:2px solid white;
  color:$darkGray;
  height:40px;
  width:120px;
  border-radius:.5rem;
  letter-spacing: 3px;
   };
   /*add another button you can see when hovering over a section title*/
   button.add{
    background:transparent;
    border:$lightBlue 2px solid ;
    color:$darkGray;
    height:40px;
    width:120px;
    border-radius:.5rem;
    letter-spacing: 3px;
    margin-bottom:5px;
   }
   button.add:hover{
    border:$lightBlue 4px solid ;
   }
.submitButton:hover,  button.addSkill:hover, button.addSoftSkill:hover {
  font-weight:700;
  border:4px solid white;
   };
  /*delete buttons*/
  button.delete {
  background-image:url(../../images/delete.svg);
  display:none;
  background-repeat:no-repeat;
  background-position:50% 50%;
  height:30px;
  width:30px;
  border:none;
  background-color:white;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
   };
button:hover {
  top:-5px;
};
/*div container form buttons*/
.formButtons{
  display:flex;
  gap:30px;
  flex-wrap:wrap;
  width:300px;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  height:225px;
  width:75px;
};

/*print button, don't show display*/
.printButton {
  display:none;
  background:transparent;
  background-color:white;
  border:2px solid $lightBlue;
  color:$darkGray;
  height:40px;
  width:120px;
  border-radius:.5rem;
  letter-spacing: 3px;
  margin-top:10px;
  font-size:1rem;
  font-weight:700;
};
.printButton:hover {
  border:4px solid $lightBlue;
  font-weight:700;
};
@media print {
  button {
    display:none !important;
  }
};
/*title of section with add another button hidden*/
.addAnother {
  display:flex;
  border-bottom: 2px solid black;
  gap:15px;

}
.addAnother .add {
  display:none;
}

.createAccount, .login {
 background-color:$lightBlue;
 color:#3B3B3B;
 border:none;
 letter-spacing:1px;
}
.createAccount:hover, .login:hover {
  filter:brightness(75%)
}
.clearButton {
/*   background-color:rgba(0,0,0,0.1); */
  background-color:#f3f6fc;
  color:black;
  border: none;
  letter-spacing:1px;
}
.clearButton:hover{
  filter:brightness(75%);
  color:black;
}
.workStationContent > button {
 border:1.5px solid $lightBlue;
 background-color:white;
  letter-spacing:1px;
  width:200px;
  margin-left:250px;
  border-radius:2rem;
  height:60px;
  font-size:1.3rem;
  font-weight:400;
  margin-top:40px;
  transition:all ease-in-out .5s;
}
.workStationContent > button:hover {
  background-color:$lightBlue;
  color:$greyForBlue;
  transition:all ease-in-out .5s;
}