/*edit buttons*/
.aboutButton, .skillsEditButton, button.project, button.education, button.experience {
  background-image:url(../../images/edit.svg);
  background-repeat:no-repeat;
  background-position:50% 50%;
  display:none;
  border:none;
  background-color:white;
  /*make button a circle*/  
  border-radius: 50%;
  height:30px;
  width:30px;
  top: 0;
  position:relative;
  transition: top ease 0.5s;
  cursor:pointer;
    };
  
.aboutDisplay:hover button, .skillSection:hover button, 
.projectDisplay:hover button,.educationDisplay:hover button, 
.experienceDisplay:hover button {
  display:block
  
    };
/*submit form buttons*/
.submitButton, .submitButtonAbout, button.add, 
button.addSkill, button.addSoftSkill, button.save, .printButton {
  background-color:white;
  border:1px solid $lightBlue;
  color:black;
  height:40px;
  width:120px;
  border-radius:1rem;
  letter-spacing: 1px;
  margin-bottom:5px;
  font-weight:700;
  transition:all ease-in-out .5s;
   };
 
  
.submitButton:hover, button.add:hover,.submitButtonAbout:hover, 
 button.addSkill:hover, button.addSoftSkill:hover, button.save:hover , 
 .printButton:hover{
  background-color:$lightBlue;
  transition:all ease-in-out .5s;
   };
   .submitButtonAbout {
     position:absolute;
     margin-top:300px;
   }
  /*delete buttons*/
  button.delete {
  background-image:url(../../images/delete.svg);
  display:none;
  background-repeat:no-repeat;
  background-position:50% 50%;
  height:30px;
  width:30px;
  border:none;
  background-color:white;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  cursor:pointer;
   };

/*div container form buttons*/
.formButtons{
  display:flex;
  gap:30px;
  flex-wrap:wrap;
  width:300px;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  height:225px;
  width:75px;
  margin-left:-60px
};



/*center save button*/
.cvButtons {
display:flex;
position:relative;
margin-bottom:10px;
margin-top:10px;
width:100%;
gap:10px;
justify-content:center;
}

/*title of section with add another button hidden*/
.addAnother {
  display:flex;
  border-bottom: 2px solid black;
  gap:15px;

}
.addAnother .add {
  display:none;
}

.createAccount, .login {
 background-color:$lightBlue;
 color:#3B3B3B;
 border:none;
 letter-spacing:1px;
}
.createAccount:hover, .login:hover {
  filter:brightness(75%)
}
.clearButton {
/*   background-color:rgba(0,0,0,0.1); */
  background-color:#f3f6fc;
  color:black;
  border: none;
  letter-spacing:1px;
}
.clearButton:hover{
  filter:brightness(75%);
  color:black;
}
.workStationContent > header > button {
 border:1.5px solid $lightBlue;
 background-color:white;
  letter-spacing:1px;
  width:200px;
  border-radius:2rem;
  height:60px;
  font-size:1.3rem;
  font-weight:400;
  margin-top:40px;
  transition:all ease-in-out .5s;
}
.workStationContent > header > button:hover {
  background-color:$lightBlue;
  color:$greyForBlue;
  transition:all ease-in-out .5s;
}