 /*main  headers*/
  .educationDisplay h1,.experienceDisplay h1, .addAnother h1,  .skillSection h1{
    text-align:left;
    font-size:1.2rem;
    font-weight:700;
    color: $mainColor;
    margin-top:5px;
  }
  /*only header with one border bottom, the rest get it from the addanother div*/
  .skillSection h1 {
    border-bottom:2px solid black;
    };
/*sub headers*/
.skillSection h3, .projectDisplay h3, 
.uniDegree h3, .companyTitle h3 {
  font-weight:700;
  margin-top:5px;
  font-size:1.1rem;
   };
.dateEdu{
  font-style:italic;
    };
.locationEdu{
  color:$mainColor
    };