


  @media print {
 
   @page {
      size: a4;
        margin-left: 0.5in;
        margin-right: 0.5in;
        margin-top: .25in;
        margin-bottom: 0; 

      
    };

 div {
          page-break-inside: avoid;
      }
   body,.paper {
        width: 210mm;
      height: 297mm; 
      margin:0;
      padding:0px;
   } 
   button, .cvButtons,  .navCV, .modal{
    display:none !important;
  }

 
  };
 
  