/*nav bar for homepage before login*/
.navWelcome {
    position:absolute;
    right:50px;
    top:40px;
    display:flex;
    flex-direction: column;
    gap:20px;
    font-weight:700;
    font-size: 1.6rem;
}