/*nav bar for homepage before login*/
.navWelcome {
    position:absolute;
    color:black;
    right:50px;
    top:40px;
    display:flex;
    flex-direction: column;
    gap:20px;
    font-weight:700;
    font-size: 1.6rem;

}
.navLoginRegister > h1 {
    font-weight: 800;
    font-size: 1.7rem;
    font-style: italic;
    top:20px;
    position:absolute;
    left:50px;
}
.navLoginRegister  span {
    color:$lightBlue;
    font-size:2.5rem;
}
